# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini


# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build

# juyter notebook
.ipynb_checkpoints/


# pycharm
.idea/

# books or paper or others
图解数据结构/

# itchat
itchat.pkl
wechat_download/

kaldi.zip
kaldi/
# version 000000000000